.App{
    background-color: rgb(238, 228, 228);
    height:100vh;
    padding:0px 100px;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.books{
    display:flex;
    gap:10px;
}

.book{
    flex:1;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}

img{
    border-radius: 5px;
    width:200px;
    height:300px;
    object-fit:cover;
    background-color: rgb(61, 231, 174);
}

.delete{
    
    /* border:none; */
    border-radius: 15px;
    padding:3px 20px;
    background-color: white;
    cursor:pointer;
    color:red;
    text-decoration: none;
}
.delete:hover{
    background-color: red;
    color:white;
    transition: all 0.5s ease-in-out;
}

.update{
    border-radius:15px;
    padding:3px 20px;
    background-color: white;
    cursor:pointer;
    color:blue;
    text-decoration: none;
}

.form{
    display: flex;
    flex-direction: column;
    gap:20px;
}

input{
    width:250px;
    padding:10px;
    border:1px solid gray;
}

.formButton{
    border:none;
    padding:10px;
    background: orange;
    color:white;
    font-weight: bold;
    cursor: pointer;
}

.addBook{
    margin-top: 20px;
    padding: 5px 50px;
    border-radius: 5px;
    background-color: rgb(246, 149, 22);
    color:white;
    text-decoration: none;
}